form ul li {
  position: relative;

  display: flex;
  /* justify-content: space-between; */

  /* cursor: pointer; */

  display: flex;
  align-items: center;
  vertical-align: middle;

  transition: 0.2s;
}

form ul li span.spanCheck {
  display: block;
  width: 25px;
  height: 25px;

  cursor: pointer;

  min-width: 25px;
  min-height: 25px;

  max-width: 25px;
  max-height: 25px;

  margin: 0;
  padding: 0;

  /* border-radius: 50%; */

  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22Lag_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20904.06299%20904.06299%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%234f5053%3B%7D.cls-2%7Bopacity%3A.25%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20class%3D%22cls-2%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M768.79297%2C904.06299H135.27002C60.68213%2C904.06299%2C0%2C843.38135%2C0%2C768.79297V135.27002C0%2C60.68213%2C60.68213%2C0%2C135.27002%2C0H768.79297c74.58838%2C0%2C135.27002%2C60.68213%2C135.27002%2C135.27002V768.79297c0%2C74.58838-60.68164%2C135.27002-135.27002%2C135.27002ZM135.27002%2C70c-35.99023%2C0-65.27002%2C29.27979-65.27002%2C65.27002V768.79297c0%2C35.98975%2C29.27979%2C65.27002%2C65.27002%2C65.27002H768.79297c35.98975%2C0%2C65.27002-29.28027%2C65.27002-65.27002V135.27002c0-35.99023-29.28027-65.27002-65.27002-65.27002H135.27002Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  /* %3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22Lag_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20925.18994%20925.19006%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%234f5053%3Bopacity%3A.25%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M462.58997%2C0C207.10999%2C0%2C0%2C207.11011%2C0%2C462.6001s207.10999%2C462.58997%2C462.58997%2C462.58997%2C462.59998-207.10999%2C462.59998-462.58997S718.07996%2C0%2C462.58997%2C0Zm0%2C832.67004c-204.39001%2C0-370.07001-165.69006-370.07001-370.06995S258.19995%2C92.52002%2C462.58997%2C92.52002s370.08002%2C165.69006%2C370.08002%2C370.08008-165.69%2C370.06995-370.08002%2C370.06995Z%22%2F%3E%3C%2Fsvg%3E */
  background-repeat: no-repeat;

  position: relative; /* absolute */
  align-items: center;
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  transition: 0.2s;
}

form ul li span.completed {
  display: inline-block;

  margin: 0;
  padding: 0;

  /* border-radius: 50%; */
  background: none;

  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22Lag_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20904.06299%20904.06299%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%234f5053%3B%7D.cls-2%7Bopacity%3A.25%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20class%3D%22cls-2%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M768.79297%2C904.06299H135.27002C60.68213%2C904.06299%2C0%2C843.38135%2C0%2C768.79297V135.27002C0%2C60.68213%2C60.68213%2C0%2C135.27002%2C0H768.79297c74.58838%2C0%2C135.27002%2C60.68213%2C135.27002%2C135.27002V768.79297c0%2C74.58838-60.68164%2C135.27002-135.27002%2C135.27002ZM135.27002%2C70c-35.99023%2C0-65.27002%2C29.27979-65.27002%2C65.27002V768.79297c0%2C35.98975%2C29.27979%2C65.27002%2C65.27002%2C65.27002H768.79297c35.98975%2C0%2C65.27002-29.28027%2C65.27002-65.27002V135.27002c0-35.99023-29.28027-65.27002-65.27002-65.27002H135.27002Z%22%2F%3E%3C%2Fg%3E%3Cg%20class%3D%22cls-2%22%3E%3Crect%20class%3D%22cls-1%22%20x%3D%22257.43722%22%20y%3D%22407.0316%22%20width%3D%22592.19751%22%20height%3D%2289.9998%22%20transform%3D%22translate(-158.24247%20516.10946)%20rotate(-44.38014)%22%2F%3E%3Crect%20class%3D%22cls-1%22%20x%3D%22228.27144%22%20y%3D%22339.62845%22%20width%3D%2289.9998%22%20height%3D%22376.0109%22%20transform%3D%22translate(-294.96628%20353.90779)%20rotate(-45.61967)%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  /* %3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22Lag_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20925.19193%20925.19193%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%2C.cls-2%2C.cls-3%7Bfill%3A%234f5053%3B%7D.cls-2%7Bopacity%3A.25%3B%7D.cls-3%7Bopacity%3A.5%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ccircle%20class%3D%22cls-1%22%20cx%3D%22462.59596%22%20cy%3D%22462.59596%22%20r%3D%22246.71784%22%2F%3E%3Ccircle%20class%3D%22cls-3%22%20cx%3D%22462.59596%22%20cy%3D%22462.59596%22%20r%3D%22370.07677%22%2F%3E%3Ccircle%20class%3D%22cls-2%22%20cx%3D%22462.59596%22%20cy%3D%22462.59596%22%20r%3D%22462.59596%22%2F%3E%3C%2Fsvg%3E */
  background-repeat: no-repeat;

  transition: 0.2s;
}

/* background: svg(assets/press.svg); // #2a2a2a */

/* form ul li span.spanLight {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22Lag_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20925.19193%20925.19193%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bopacity%3A.25%3B%7D.cls-1%2C.cls-2%2C.cls-3%7Bfill%3A%23b0b0b0%3B%7D.cls-3%7Bopacity%3A.5%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ccircle%20class%3D%22cls-2%22%20cx%3D%22462.59596%22%20cy%3D%22462.59596%22%20r%3D%22246.71784%22%2F%3E%3Ccircle%20class%3D%22cls-3%22%20cx%3D%22462.59596%22%20cy%3D%22462.59596%22%20r%3D%22370.07677%22%2F%3E%3Ccircle%20class%3D%22cls-1%22%20cx%3D%22462.59596%22%20cy%3D%22462.59596%22%20r%3D%22462.59596%22%2F%3E%3C%2Fsvg%3E");
} */

form ul li span.completed.spanLight {
  /* background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22Lag_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20904.06299%20904.06299%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%234f5053%3B%7D.cls-2%7Bopacity%3A.25%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20class%3D%22cls-2%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M768.79297%2C904.06299H135.27002C60.68213%2C904.06299%2C0%2C843.38135%2C0%2C768.79297V135.27002C0%2C60.68213%2C60.68213%2C0%2C135.27002%2C0H768.79297c74.58838%2C0%2C135.27002%2C60.68213%2C135.27002%2C135.27002V768.79297c0%2C74.58838-60.68164%2C135.27002-135.27002%2C135.27002ZM135.27002%2C70c-35.99023%2C0-65.27002%2C29.27979-65.27002%2C65.27002V768.79297c0%2C35.98975%2C29.27979%2C65.27002%2C65.27002%2C65.27002H768.79297c35.98975%2C0%2C65.27002-29.28027%2C65.27002-65.27002V135.27002c0-35.99023-29.28027-65.27002-65.27002-65.27002H135.27002Z%22%2F%3E%3C%2Fg%3E%3Cg%20class%3D%22cls-2%22%3E%3Crect%20class%3D%22cls-1%22%20x%3D%22257.43722%22%20y%3D%22407.0316%22%20width%3D%22592.19751%22%20height%3D%2289.9998%22%20transform%3D%22translate(-158.24247%20516.10946)%20rotate(-44.38014)%22%2F%3E%3Crect%20class%3D%22cls-1%22%20x%3D%22228.27144%22%20y%3D%22339.62845%22%20width%3D%2289.9998%22%20height%3D%22376.0109%22%20transform%3D%22translate(-294.96628%20353.90779)%20rotate(-45.61967)%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); */

  transition: 0.2s;
}
