li button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li .destroy {
  /* display: none; */

  /* position: relative;
  top: 0;
  right: 15px;
  bottom: 5px;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: var(--sekclr);
  margin-bottom: 11px;
  transition: 0.2s ease-out;
  cursor: pointer;
  font-weight: 200;

  background: red;
  float: right; */
}

li .destroy {
  /* display: block;
  width: 25px;
  height: 25px; */

  display: none;
  font-size: 30px;
  font-weight: 200;

  position: absolute;
  /* top: -5px;
  right: 20px;
  bottom: 0px;

  width: 25px;
  height: 25px; */

  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;

  /* min-width: 25px;
  min-height: 25px;

  max-width: 25px;
  max-height: 25px; */

  margin: auto 0;
  padding: 0;

  border-radius: 50%;
  float: right;

  align-items: center;
  vertical-align: middle;

  transition: 0.2s;
}

/* li div {
  width: 25px;
  height: 25px;
  background: white;
} */

li .destroy:hover {
  color: var(--buttonhover);
}

/* li button {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  padding: 1rem 1rem;
  background-color: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: var(--b);

} */

/* li button:hover {
  background-color: var(--buttonhover);
  color: white;
  transform: scale(0.99);
}

li button:active {
 background-color: #735d78;
  transform: scale(0.92);
} */

li .destroy:after {
  content: "×";
}

li.destroy:hover {
  color: #af5b5e;
}

li:hover .destroy {
  display: block;
}
