.draggable {
  /* cursor: move; */
  -webkit-user-select: none;
  user-select: none;
  transition: 0.2s;
}

.draggable:active {
  transform: scale(0.99);
}

.draggable.dragging {
  opacity: 0.5;
  transform: scale(0.99);
  border-radius: 10px;
  background: var(--lihover);

  cursor: -webkit-grabbing;
  cursor: grabbing;
}
