body.red {
  --add: #ddbebe;
  --dimclr: #ad616a;
  --buttonhover: #a7545d;
  --hclr: #b8636d;
}

body.yellow {
  --add: #dbccb6;
  --dimclr: #d1945a;
  --buttonhover: #bd945d;
  --hclr: #e6b677;
}

body.blue {
  --dimclr: #3c5f78;
  --add: #bec9dd;
  --buttonhover: #3c5f78;
  --hclr: #638ba8;
}

body.magenta {
  --add: #ddbed6;
  --dimclr: #a679ae;
  --buttonhover: #886194;
  --hclr: #b392ac;
}

/* #A679AE / #1d2d44 / #774147 */ /* #A099BC */
/* #b392ac / #3e5c76 / #a26769 / #B8636D*/
/* #e0d2ea */
