/*  ROOT  */ 

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Raleway:wght@300;400;500;600&display=swap');

:root {
    --add: #f7d1cd;
    --sekclr: #DDDDDDDE;
    --hclr: #b392ac;
    --minclr: #0B0B0D; // #141618 // #d1b3c4 // #0B0B0D // #101113
    --primclr: #735d78; // #e0d2ea
    --bclr: #0000006F;
    --b: #000000;
    --dim: #FFFFFF44; // #00000041
}

* {
    margin-bottom: 5px;
    text-decoration: none;
}

hr {
    border: 1px solid #FFFFFF0C;
    width: 100%;
    margin-bottom: 75px;
}

/*  PRIMARY  */ 

body {
    font-family: 'Raleway', 'Inter', sans-serif;
    background-color: var(--b); 
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}

h1 {
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 65px;
    color: var(--hclr);
    padding-top: 5px;
}

h2, a, p {
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    color: var(--sekclr); // #0000006F
}

p a  {
    color: var(--add);
    transition: 0.3s;
    cursor: pointer;
}

p a:hover {
    color: #A47CAC;
    opacity: 1;
}

div a {
    font-size: 1rem;
}

a {
    color: var(--add);
    transition: 0.3s;
    cursor: pointer;
}
a:hover {
    color: #A47CAC;
    opacity: 1;
}

small {
    text-align: center;
    margin-top: 3rem;
    font-weight: 500;
    font-size: 12px;
    color: #F5F5F555;
}

main {
    margin-bottom: 5rem;
}

header {
    text-align: center;
    align-items: center;
}

/*  CLASS ASSETS  */ 

.container {
    margin-top: 75px;
    color: var(--bclr);
}


form {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
    margin: auto;
    width: 500px;
    max-width: 100%;	
    border: 1px solid #0000000A;
    border-radius: 10px; 
    background-color: var(--minclr); // var(--sekclr);
}

.input {
    font-family: 'Inter', sans-serif;
    width: 90%;
    border-radius: 15px;
    color: var(--sekclr);
    background-color: var(--minclr);
    border: none;
    font-size: 1.25rem;
    /* border: 1px solid red; */
    padding: 1rem 1.5rem;
    display: block;
    
}

.input::placeholder {
    color: var(--dim);
}

.input:active, .input:focus {
    outline: none;
    border-radius: 10px 10px 0 0;
    /* outline: 1px solid var(--sekclr); */
}

.todos {
    font-family: 'Inter', sans-serif;
    width: 100%;
    color: white;
    margin: auto;
    padding: 0;
    list-style-type: none;
    cursor: pointer;
}

.todos li {
    transition: 0.3s;
    color: var(--sekclr);
    text-align: left;
    border-top: 1px solid #FFFFFF0A;
    background-color: var(--minclr);
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
}


.todos li.completed {
    color: var(--dim);
    text-decoration: line-through;
}

.todow {
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* border: 1px solid #ffffff; */
    padding: 5px;
}
 



#form1 {
    /* visibility: hidden; */
    display: none;
} #tmr {
    /* visibility: hidden; */
    display: none;
}

#form2 {
    display: none;
} #tmr1 {
    display: none;
}

.newli {
    /* visibility: hidden; */
    display: none;
}


