/*  ROOT  */ 

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Raleway:wght@300;400;500;600&display=swap');

:root {
    --dimclr: #AD616A; /* #A679AE / #1d2d44 / #774147 */  /* #A099BC */
    --buttonhover: #774147;
    --add: #DDBEBE;
    --sekclr: #DDDDDDBF;
    --hclr: #a26769; /* #b392ac / #3e5c76 / #a26769 */
    --minclr: #0B0B0D; // #141618 // #d1b3c4 // #0B0B0D // #101113
    --primclr: #6d2e46; // #e0d2ea
    --bclr: #0000006F;
    --b: #000000;
    --dim: #FFFFFF44; // #00000041
}
/*  #b392ac /#8c2f39 / #3e5c76 */
/* #735d78 / #6d2e46 / #f7d1cd */

* {
    margin-bottom: 5px; 
    text-decoration: none;
}


hr { 
    border: 1px solid #FFFFFF0C;
    width: 100%;
    margin-bottom: 75px;
}

/*  PRIMARY  */ 

body {
    font-family: 'Raleway', 'Inter', sans-serif;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";

    background-color: var(--b); 
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}

h1 {
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 65px;
    color: var(--hclr);
    padding-top: 5px;
}

h2, a, p {
    text-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 17px;
    color: var(--sekclr); // #0000006F
    
}

p a  {
    color: var(--add);
    transition: 0.2s;
    cursor: pointer;
}

p a:hover {
    color: var(--dimclr);
    opacity: 1;
}

div a {
    font-size: 1rem;
}

a {
    color: var(--add);
    transition: 0.2s;
    cursor: pointer;
}
a:hover {
    color: var(--dimclr);
    opacity: 1;
}

small {
    text-align: center;
    margin-top: 3rem;
    font-weight: 500;
    font-size: 12px;
    color: #F5F5F555;
}

main {
    margin-bottom: 5rem;
}

header {
    text-align: center;
    align-items: center;
}

/*  CLASS ASSETS  */ 

.container {
    margin-top: 75px;
    color: var(--bclr);
}


form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 500px;
    max-width: 100%;	
    border: 1px solid #0000000A;
    border-radius: 10px; 
    background-color: var(--minclr); // var(--sekclr);
}

.input {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    width: 90%;
    border-radius: 15px;
    color: var(--sekclr);
    background-color: var(--minclr);
    border: none;
    font-size: 1.25rem;
    /* border: 1px solid red; */
    padding: 1rem 1.5rem;
    display: block;
    
}

.input::placeholder {
    color: var(--dim);
}



.input:active, .input:focus {
    outline: none;
    border-radius: 10px 10px 0 0;
    /* outline: 1px solid var(--sekclr); */
}

.todos {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    width: 100%;
    color: white;
    margin: auto;
    padding: 0;
    list-style-type: none;
    cursor: pointer;
}

.todos li {
    transition: 0.2s;
    color: var(--sekclr);
    text-align: left;
    border-top: 1px solid #FFFFFF0A;
    background-color: var(--minclr);
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
}

.todos li:hover {
    color: var(--dimclr);
    background-color: #101113;
    transform: scale(0.99);
    border-radius: 10px;
}


.todos li.completed {
    color: var(--dim);
    text-decoration: line-through;
}

.todow {
    opacity: 0.85;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* border: 1px solid #ffffff; */
    padding: 5px;
}
 



#form1 {
    /* visibility: hidden; */
    display: none;
} #tmr {
    /* visibility: hidden; */
    display: none;
}

#form2 {
    display: none;
} #tmr1 {
    display: none;
}

.newli {
    /* visibility: hidden; */
    display: none;
    width: 4rem;
    margin: auto;
}


.aalign {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* home page */
/* buttons */

button {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    border: none;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    background-color: var(--hclr);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: var(--buttonhover);
    transform: scale(0.99);
}

button:active {
    background-color: #735d78;
    transform: scale(0.9);
}

/* preloader */
#preloader {
    background-color: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 0;
    margin: 0;
    
    top: 0;
    left: 0;

    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 0.5s, visibility 0.5s;
}

.loader::after {
    content: "";
    display: block;
    width: 125px;
    height: 125px;
    border: 5px solid #FFFFFF2C;
    border-top-color: var(--hclr);
    border-radius: 50%;
    /* background: #fff; */
    margin: 8px;
    animation: loading 0.75s infinite linear;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

