/* modals */
/*  */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s, visibility 0.2s;
  /* transition: 0.2s ease-in-out; */
  /* border: 1px solid black; */
  border-radius: 10px;
  z-index: 1000;
  background-color: var(--minclr);
  color: var(--w);
  width: 800px;
  max-width: 75%;
  text-align: left;

  visibility: hidden;
  opacity: 0;
}

.modal.active {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.modal-header {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--borderclr);
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
}

.modal-header .title,
.close-button {
  font-size: 1.5rem;
}

.modal-header .close-button {
  color: var(--w);
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: 300;
}

.close-button:hover {
  /* color: var(--dimclr); */
  opacity: 0.7;
}

.modal-body {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  padding: 25px;
  /* display: flex; */
  /* justify-content: space-between; */
}

#overlay {
  transition: opacity 0.2s, visibility 0.2s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;

  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  align-items: center;
  display: flex;
  justify-content: center;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
